<a href="https://colab.research.google.com/github/Venkateswari16/Python-Lab/blob/main/Python_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
b=14
c=12
if(a>b and a>c):
    print("a is bigger")
elif(b>a and b>c):
    print("b is bigger")
else:
    print("c is bigger")

b is bigger

In [ ]:
lower=2
upper=10
print("prime numbers between",lower,",",upper)
for num in range(lower, upper-1):
    if num>1:
        for i in range(2,num):
            if(num%i)==0:
                break
        else:
            print(num)

prime numbers between 2 , 10
2
3
5
7

In [1]:
num1 = complex(2, 3)
num2 = complex(4, 5)

sum_result = num1 + num2
product_result = num1 * num2

print("First complex number:", num1)
print("Second complex number:", num2)
print("Sum:", sum_result)
print("Product:", product_result)

First complex number: (2+3j)
Second complex number: (4+5j)
Sum: (6+8j)
Product: (-7+22j)

In [2]:
num = int(input("Enter a number to print it's multiplication table:"))

print(f"\nMultiplication table of {num}:\n")

for i in range(1,11):
    print(f"{num} x {i} = {num * i}")

Enter a number to print it's multiplication table:4

Multiplication table of 4:

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40